body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('chemin_vers_votre_image.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Ceci assure que l'image couvre tout le corps de la page */
}

.title {
    color: #363636;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}

.form-container {
    margin: 1em 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.button {
    cursor: pointer;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #3273dc;
    border: none;
    border-radius: 4px;
}

.button.is-danger {
    background-color: #ff3860;
}

.table {
    width: 100%;
    margin-top: 2em;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #dbdbdb;
}

.table th {
    background-color: #f5f5f5;
    color: #363636;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}