<!DOCTYPE html>
<html>
<head>
    <title>Panoplie connectée</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/outil.png"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Gestion des Utilisateurs et des Equipements</h1>

            <!-- Affichage des messages flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="notification is-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <div class="columns">
                <div class="column">
                    <div class="box">
                        <form action="/add_user" method="post">
                            <label class="label" for="name">Nom:</label>
                            <input class="input" type="text" id="name" name="name" placeholder="WALTZ">
                            <label class="label" for="badge">Numéro de badge:</label>
                            <input class="input" type="text" id="badge" name="badge" placeholder="67 67 67 67" maxlength="14">
                            <button class="button is-primary" type="submit">Ajouter</button>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Badge ID</th>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>{{ row['badge_id'] }}</td>
                                <td>{{ row['Nom'] }}</td>
                                <td>
                                    <form action="/delete_user" method="post">
                                        <input type="hidden" name="badge_id" value="{{ row['badge_id'] }}">
                                        <button class="button is-danger" type="submit" onclick="return confirmDelete()">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <div class="box">
                        <form action="/add_tool" method="post">
                            <label class="label" for="tool_name">Nom de l'équipements:</label>
                            <input class="input" type="text" id="tool_name" name="tool_name" placeholder="Fauscille et marteau">
                            <label class="label" for="tool_number">Numéro de l'équipements:</label>
                            <input class="input" type="text" id="tool_number" name="tool_number" placeholder="67 67 67 67" maxlength="14">
                            <button class="button is-primary" type="submit">Ajouter</button>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Numéro de l'équipements</th>
                                <th>Nom de l'équipements</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in tools_data %}
                            <tr>
                                <td>{{ row['tool_number'] }}</td>
                                <td>{{ row['tool_name'] }}</td>
                                <td>
                                    <form action="/delete_tool" method="post">
                                        <input type="hidden" name="tool_number" value="{{ row['tool_number'] }}">
                                        <button class="button is-danger" type="submit" onclick="return confirmDelete()">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <!-- Lien vers logs.html -->
            <div>
                <a class="button is-info" href="{{ url_for('logs') }}">Accéder à la page des logs</a>
            </div>
        </div>
    </section>

    <script>
        window.onload = function() {
    var badgeInput = document.getElementById('badge');
    var toolNumberInput = document.getElementById('tool_number');

    badgeInput.addEventListener('input', function() {
        var value = this.value;
        // Retirez tous les caractères non alphanumériques
        value = value.replace(/\W/g, '');
        // Limitez la longueur à 11 caractères
        value = value.slice(0, 11);
        // Ajoutez un espace tous les deux caractères
        value = value.replace(/(.{2})(?=.)/g, '$1 ');
        this.value = value;
    });

    toolNumberInput.addEventListener('input', function() {
        var value = this.value;
        // Retirez tous les caractères non alphanumériques
        value = value.replace(/\W/g, '');
        // Limitez la longueur à 11 caractères
        value = value.slice(0, 11);
        // Ajoutez un espace tous les deux caractères
        value = value.replace(/(.{2})(?=.)/g, '$1 ');
        this.value = value;
    });
};

function confirmDelete() {
    return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');
}
    </script>
</body>
</html>
