    <!DOCTYPE html>
    <html>
    <head>
        <title>Logs</title>
        <meta charset="UTF-8">
        <link rel="icon" href="../static/img/outil.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <h1 class="title">Logs de la panoplie connectée</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date et heure</th>
                                    <th>Utilisateur</th>
                                    <th>Outil</th>
                                    <th>État</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log in logs_data %}
                                <tr>
                                    <td>{{ log['\ufeffdatehour'] }}</td>
                                    <td>{{ log['nom'] }}</td>
                                    <td>{{ log['outil'] }}</td>
                                    <td>{{ log['action'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Lien pour revenir à la page principale -->
                        <a href="/" class="button is-link">Revenir à la page principale</a>
                    </div>
                    <div class="column">
                        <h2 class="title">État des outils</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom de l'outil</th>
                                    <th>État</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tool, state in tool_states.items() %}
                                <tr>
                                    <td>{{ tool }}</td>
                                    <td>{{ state }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </body>
    </html>
